@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

/* colors */
:root {
	--light-bg-secondary: #F0F3F4;
	--light-bg-another: #d4d4d4;
	--light-bg-main: #E5E7E9;
	--light-bg-hover: #D7DBDD;
	--light-shadow-main: #BDBDBD;
	--light-shadow-secondary: #A0A8B0;
	--light-font-main: #3F3844;
	--light-accepted: #e0eee6;
	--light-rejected: #ebe1e0;
	--light-highlight: #e95d3e;
}

/* base styles */
* {
	color: var(--light-font-main);
	font-family: "Quicksand";
	margin: 0 auto;
}

body {
	background-color: var(--light-bg-main);
	overflow: hidden;
}

.content {
	padding: 0px 10px;
	height: calc(100vh - 110px);
	overflow-y: auto;
}

.divider {
	height: 0px;
	width: 100%;
	border-bottom: solid 1px var(--light-shadow-main);
	margin: 8px auto;
	max-width: 800px;
}

*:focus-visible {
	outline: var(--light-highlight) solid 2px;
}

/* Hover for mobile */
@media (hover: hover) {
	.navbutton:hover {
		background-color: var(--light-bg-hover);
		cursor: pointer;
	}
	.breakbutton:hover {
		background-color: var(--light-bg-hover);
		cursor: pointer;
	}
	.songpanel:hover {
		cursor: pointer;
		background-color: var(--light-bg-hover);
	}

	.dateinput:hover {
		cursor: pointer;
		background-color: var(--light-bg-hover);
	}
	.formbutton:hover {
		cursor: pointer;
		background-color: var(--light-bg-hover);
	}
	.removebutton:hover {
		cursor: pointer;
		background-color: var(--light-rejected);
	}
	.smallbutton:hover {
		cursor: pointer;
		background-color: var(--light-bg-hover);
	}
	.authorpanel:hover {
		cursor: pointer;
		background-color: var(--light-bg-hover);
	}
}

.navbutton:active {
	background-color: var(--light-bg-hover);
}
.breakbutton:active {
	background-color: var(--light-bg-hover);
}
.songpanel:active{
	background-color: var(--light-bg-hover);
}
.dateinput:active{
	background-color: var(--light-bg-hover);
}
.formbutton:active {
	background-color: var(--light-bg-hover);
}
.removebutton:active {
	background-color: var(--light-rejected);
}

/* Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background-color: var(--light-bg-secondary);
	box-shadow: 0px  0px 8px var(--light-shadow-secondary);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.navbutton {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
	align-items: center;
	background-color: var(--light-bg-secondary);
	border: none;
	border-radius: 3px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	height: 36px;
	width: 36px;
	margin: 6px 10px;
	margin-left: 0px;
	font-weight: bold;
	text-decoration: none;
}

.navcontainer {
	display: flex;
	margin: 0px;
}

/* Footer */
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	background-color: var(--light-bg-secondary);
	box-shadow: 0px  0px 8px var(--light-shadow-secondary);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 2;
}

.title {
	margin: 6px 10px;
	margin-right: 0px;
	font-size: 22px;
	white-space: nowrap;
}

.cover {
	display: flex;
	height: inherit;
	background-color: var(--light-bg-secondary);
	z-index: 2;
	align-items: center;
	padding-right: 5px;
}

.floatingtitle {
	text-align: left;
	white-space: nowrap;
	flex-grow: 2;
	margin: 0px 10px;
	position: sticky;
}

@keyframes move {

	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(var(--tx));
  	}
}

@keyframes wait {

	0%, 100% {
		transform: translateX(var(--tx));
	}
}

/* Playlist -> Popup */
.popup {
	height: calc(100% - 150px);
	width: 100%;
	max-width: 760px;
	display: flex;
	flex-direction: column;
	z-index: 1;
	padding: 0px 10px;
	background-color: var(--light-bg-secondary);
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border-radius: 5px;
}

.popupcover {
	background-color: var(--light-bg-main);
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 1;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 0 10px;
}

.popupheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2px;
}

.headertext {
	margin: 0px;
	font-size: 20px;
}

.textbox {
	width: 100%;
	font-size: 18px; /* input height = font-size */
	box-sizing: border-box;
	background-color: var(--light-bg-secondary);
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border: none;
	border-radius: 5px;
	padding: 2px 6px;
}

.textbox::placeholder {
	font-size: 14px;
	color: var(--light-shadow-secondary);
}

/* Playlists */
.header {
	margin: 10px auto;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	max-width: 800px;
}

.timestamp {
	text-align: left;
	padding-left: 4px;
	margin: 0px;
}

.timestampbot {
	text-align: left;
	padding-left: 4px;
	margin: 0;
	margin-top: 10px;
}

.songtitle {
	text-align: left;
	font-weight: 450;
	padding-bottom: 25px;
	margin: 0px;
}

.songtitleinner {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
}

.songauthor {
	display: contents;
	text-align: left;
	margin: 0px;
	white-space: nowrap;
}

.breakpanel {
	padding: 10px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-secondary);
	border-radius: 5px;
	background-color: var(--light-bg-secondary);
	max-width: 760px;
	margin-bottom: 10px;
}

.songpanel {
	font-size: 16px;
	padding: 10px;
	margin-top: 10px;
	background-color: var(--light-bg-secondary);
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border-radius: 5px;
}

.songpanelnohover {
	font-size: 16px;
	padding: 10px;
	margin-top: 10px;
	background-color: var(--light-bg-secondary);
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border-radius: 5px;
}

.datecontainer {
	display: flex;
	align-items: center;
	margin: 0;
}

.dateinput {
	width: 120px;
	height: 36px;
	display: flex;
	font-size: 14px;
	margin: 6px 10px;
	padding: 0px 5px 0px 10px;
	align-items: center;
	background-color: var(--light-bg-secondary);
	border: none;
	border-radius: 3px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
}

.breakinfo {
	display: flex;
	justify-content: space-between;
}

.breakbutton {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
	align-items: center;
	background-color: var(--light-bg-secondary);
	border: none;
	border-radius: 3px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	height: 24px;
	width: 24px;
	margin: 0px;
	margin-top: 6px;
	font-weight: bold;
}

.removebutton {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
	align-items: center;
	background-color: var(--light-bg-secondary);
	border: none;
	border-radius: 3px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	height: 20px;
	width: 20px;
	margin: 0px;
	font-weight: bold;
}

/* Suggestions */

.suggsongtitle {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	text-decoration: none;
	text-align: left;
	padding-right: 10px;
	border-radius: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.suggestionpanel {
	position: relative;
	padding: 10px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border-radius: 5px;
	background-color: var(--light-bg-secondary);
	max-width: 760px;
	margin-top: 10px;
	overflow: hidden;
}

.allsuggestionspanel {
	height: calc(100% - 150px);
	width: 100%;
	max-width: 760px;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-secondary);
	border-radius: 5px;
	background-color: var(--light-bg-secondary);
	margin-bottom: 10px;
}

.accepted-bg {
	background-color: var(--light-accepted);
}

.rejected-bg {
	background-color: var(--light-rejected);
}

.textbox2 {
	width: 100%;
	height: 32px;
	box-sizing: border-box;
	background-color: var(--light-bg-secondary);
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border: none;
	border-radius: 5px;
	padding: 2px 6px;
	font-size: 16px;
	margin-bottom: 5px;
}

.songselect {
	box-sizing: border-box;
	width: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	padding-right: 5px;
	padding-bottom: 10px;
	/* hack to fix outline */
	margin-left: -5px;
	padding-left: 5px;
}

.floatright {
	float: right;
}

.filters {
	width: 100%;
	max-width: 720px;
	margin: 20px auto;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.filter {
	position: relative;
	display: flex;
	padding-left: 26px;
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 18px;
}

.formwrapper {
	width: 100%;
	height: 32px;
	max-width: 760px;
	display: flex;
	align-items: stretch;
}

.formerror {
	align-self: flex-end;
	font-size: 18px;
}

.formbutton {
	font-size: 16px;
	width: 100px;
	margin-left: 8px;
	box-sizing: border-box;
	background-color: var(--light-bg-secondary);
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border: none;
	border-radius: 5px;
	padding: 2px 6px;
}

.filter input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.userfilter input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.newcheckbox {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: var(--light-bg-secondary);
	border-radius: 5px;
}

.filter:hover input ~ .newcheckbox {
	background-color: var(--light-bg-hover);
}

.filter input:checked ~ .newcheckbox {
	background-color: var(--light-font-main);
}

.newcheckbox:after {
	content: "";
	position: absolute;
	display: none;
}

.filter input:checked ~ .newcheckbox:after {
	display: block;
}

.filter .newcheckbox:after {
	left: 7px;
	top: 2px;
	width: 3px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.smallcheckbox {
	position: absolute;
	top: 5px;
	left: 0;
	height: 12px;
	width: 12px;
	background-color: var(--light-bg-another);
	border-radius: 2px;
}

.userfilter:hover input ~ .smallcheckbox {
	background-color: var(--light-bg-hover);
}

.userfilter input:checked ~ .smallcheckbox {
	background-color: var(--light-font-main);
}

.smallcheckbox:after {
	content: "";
	position: absolute;
	display: none;
}

.userfilter input:checked ~ .smallcheckbox:after {
	display: block;
}

.userfilter .smallcheckbox:after {
	left: 3px;
	top: 0px;
	width: 3px;
	height: 6px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.errormsg {
	text-align: center;
	font-size: 18px
}

.songtime {
	padding-left: 30px;
	float: right;
	font-size: 16px;
	color: #82798b;
}

.notification {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;	
	padding: 10px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border-radius: 5px;
	background-color: var(--light-bg-secondary);
	max-width: 760px;
	margin-left: 10px;
	margin-right: 10px;
}

.nicebutton {
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--light-bg-secondary);
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border: none;
	border-radius: 5px;
	padding: 2px 6px;
	height: 32px;
}

.nicebutton:hover {
	background-color: var(--light-bg-hover);
	cursor: pointer;
}

.authorselect {
	overflow-y: scroll;
	box-sizing: border-box;
	padding-right: 5px;
	width: 100%;
	max-height: 200px;
}

.authorpanel {
	padding: 5px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	border-radius: 5px;
	background-color: var(--light-bg-secondary);
	max-width: 760px;
	margin-top: 3px;
}

.privatebackground {
	background-color: var(--light-bg-main);
	overflow: hidden;
	padding-bottom: 8px;
}

/* button used for delete and play in library */
.smallbutton {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
	align-items: center;
	background-color: var(--light-bg-secondary);
	border: none;
	border-radius: 3px;
	box-shadow: inset 0px  0px 4px var(--light-shadow-main);
	height: 20px;
	width: 20px;
	margin: 0px;
	margin-left: 4px;
	font-weight: bold;
}

.padding-top {
	padding-top: 10px;
}

.padding {
	padding-top: 2px;
	padding-bottom: 2px;
}

.padding .textbox {
	height: 32px;
}

.songcheckboxes {
	width: 100%;
	max-width: 720px;
	margin-bottom: 10px;
	margin-top: -5px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.songproperties {
	position: relative;
	display: flex;
	padding-left: 30px;
	margin-top: 12px;
	margin-left: 5px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 18px;
}

.songproperties input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.darkcheckbox {
	position: absolute;
	top: 0px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: var(--light-bg-secondary);
	border-radius: 5px;
	border: 2px solid var(--light-font-main);
}

.songproperties:hover input ~ .darkcheckbox {
	background-color: var(--light-bg-hover);
}

.songproperties input:checked ~ .darkcheckbox {
	background-color: var(--light-font-main);
}

.darkcheckbox:after {
	content: "";
	position: absolute;
	display: none;
}

.songproperties input:checked ~ .darkcheckbox:after {
	display: block;
}

.songproperties .darkcheckbox:after {
	left: 6px;
	top: 1px;
	width: 3px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.userfilters {
	width: 100%;
	max-width: 720px;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 10px;
}

.userconfigname {
	text-align: left;
	font-weight: 450;
	margin: 0px;
}

.userfilter {
	position: relative;
	display: flex;
	padding-left: 18px;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 16px;
}

.userinfo {
	display: flex;
	justify-content: space-between;
	padding-bottom: 5px;
}